{% extends 'base/base.html' %} 

{% block content %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2"
>
  <h2 class="h2">Клиенты</h2> 
  <a id="createbtn" href="{% url 'createuser' %}" class="btn btn-primary" style="display: none;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg>
    Завести пользователя</a>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2"></div>
  </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Пользователь</th>
          <th scope="col">Имя</th>
          <th scope="col">Телефон</th>
          <th scope="col">Регион</th>
        </tr>
      </thead>
      <tbody>
        {% for cuser in cusers %}
        <tr>
          <td>{{ cuser.user }}</td>
          <td>{{ cuser.name }}</td>
          <td>{{ cuser.phone }}</td>
          <td>{{ cuser.region }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Пока нет пользователей</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
